In [1]:
import fred
from config import API_KEY

In [2]:
fred.key(API_KEY)

In [3]:
fred.category()

{'categories': [{'id': 0, 'name': 'Categories', 'parent_id': 0}]}

In [4]:
fred.series('CPIAUCSL')

{'realtime_start': '2018-12-03',
 'realtime_end': '2018-12-03',
 'seriess': [{'id': 'CPIAUCSL',
   'realtime_start': '2018-12-03',
   'realtime_end': '2018-12-03',
   'title': 'Consumer Price Index for All Urban Consumers: All Items',
   'observation_start': '1947-01-01',
   'observation_end': '2018-10-01',
   'frequency': 'Monthly',
   'frequency_short': 'M',
   'units': 'Index 1982-1984=100',
   'units_short': 'Index 1982-1984=100',
   'seasonal_adjustment': 'Seasonally Adjusted',
   'seasonal_adjustment_short': 'SA',
   'last_updated': '2018-11-14 07:51:02-06',
   'popularity': 96,
   'notes': 'The Consumer Price Index for All Urban Consumers: All Items (CPIAUCSL) is a measure of the average monthly change in the price for goods and services paid by urban consumers between any two time periods.(1) It can also represent the buying habits of urban consumers. This particular index includes roughly 88 percent of the total population, accounting for wage earners, clerical workers, technical workers, self-employed, short-term workers, unemployed, retirees, and those not in the labor force.(1)\n\nThe CPIs are based on prices for food, clothing, shelter, and fuels; transportation fares; service fees (e.g., water and sewer service); and sales taxes. Prices are collected monthly from about 4,000 housing units and approximately 26,000 retail establishments across 87 urban areas.(1) To calculate the index, price changes are averaged with weights representing their importance in the spending of the particular group. The index measures price changes (as a percent change) from a predetermined reference date.(1) In addition to the original unadjusted index distributed, the Bureau of Labor Statistics also releases a seasonally adjusted index. The unadjusted series reflects all factors that may influence a change in prices. However, it can be very useful to look at the seasonally adjusted CPI, which removes the effects of seasonal changes, such as weather, school year, production cycles, and holidays.(1)\n\nThe CPI can be used to recognize periods of inflation and deflation. Significant increases in the CPI within a short time frame might indicate a period of inflation, and significant decreases in CPI within a short time frame might indicate a period of deflation. However, because the CPI includes volatile food and oil prices, it might not be a reliable measure of inflationary and deflationary periods. For a more accurate detection, the core CPI (Consumer Price Index for All Urban Consumers: All Items Less Food & Energy [CPILFESL]) is often used. When using the CPI, please note that it is not applicable to all consumers and should not be used to determine relative living costs.(1) Additionally, the CPI is a statistical measure vulnerable to sampling error since it is based on a sample of prices and not the complete average.(1)\n\nFor more information on the consumer price indexes, see:\n(1) Bureau of Economic Analysis. “CPI Detailed Report.” 2013; http://www.bls.gov/cpi/.\nHandbook of Methods - (http://www.bls.gov/opub/hom/pdf/homch17.pdf)\nUnderstanding the CPI: Frequently Asked Questions - (http://stats.bls.gov:80/cpi/cpifaq.htm)'}]}

In [5]:
data = fred.observations('CPIAUCSL')

In [7]:
import pandas as pd
consumer_index_df = pd.DataFrame.from_dict(data)

In [8]:
consumer_index_df.head(500)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
1,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
2,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
3,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
4,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
5,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
6,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
7,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
8,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
9,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
10,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
11,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
12,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
13,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
14,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
15,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
16,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
17,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
18,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
19,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
20,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
21,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
22,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
23,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
24,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
25,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
26,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
27,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
28,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
29,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
471,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
472,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
473,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
474,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
475,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
476,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
477,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
478,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
479,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
480,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
481,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
482,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
483,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
484,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
485,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
486,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
487,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
488,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
489,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
490,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
491,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
492,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
493,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
494,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
495,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
496,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
497,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
498,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."
499,2018-12-03,2018-12-03,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,862,0,100000,"{'realtime_start': '2018-12-03', 'realtime_end..."

In [10]:
consumer_index_df.to_csv("/Users/titus/Desktop/Homework1/data_dashboard/Project-3")