In [2]:
import pandas as pd

import sqlite3
from sqlite3 import Error

In [67]:
Currency_exchange = pd.read_csv("new.csv")
Currency_exchange.columns =['month','av-USD-EUR','min-USD-EUR','max-USD-EUR','nb-days']
Currency_exchange['month']=Currency_exchange['month'].str.replace('/','-')
new = Currency_exchange['month'].str.split("-", n = 1, expand = True)
Currency_exchange["Month"]= new[0] 
  
# making seperate last name column from new data frame 
Currency_exchange["Year"]= new[1] 
  
# Dropping old Name columns 
Currency_exchange.drop(columns =["month"], inplace = True) 

Currency_exchange['date'] = Currency_exchange["Year"].map(str) + "-" + Currency_exchange["Month"].map(str)
Currency_exchange['date'] = pd.to_datetime(Currency_exchange['date'],format="%Y/%m")
Currency_exchange.drop(columns =["Month","Year"], inplace = True) 
Currency_exchange

     av-USD-EUR  min-USD-EUR  max-USD-EUR  nb-days       date
0      0.879773     0.870549     0.888021       22 2018-11-01
1      0.870816     0.861623     0.883548       23 2018-10-01
2      0.857763     0.849113     0.864902       20 2018-09-01
3      0.865963     0.853971     0.883314       23 2018-08-01
4      0.855759     0.848248     0.862962       22 2018-07-01
5      0.856336     0.844880     0.867002       21 2018-06-01
6      0.846676     0.832848     0.865202       22 2018-05-01
7      0.814625     0.807233     0.828500       20 2018-04-01
8      0.810642     0.805088     0.821625       21 2018-03-01
9      0.809896     0.800448     0.818733       20 2018-02-01
10     0.819851     0.802761     0.838082       22 2018-01-01
11     0.844888     0.833820     0.852079       19 2017-12-01
12     0.852009     0.836680     0.864902       22 2017-11-01
13     0.850666     0.843455     0.861698       22 2017-10-01
14     0.839346     0.829187     0.851716       21 2017-09-01
15     0.846969     0.830013     0.853971       23 2017-08-01
16     0.868839     0.852588     0.882690       21 2017-07-01
17     0.890555     0.876194     0.897102       22 2017-06-01
18     0.904505     0.889442     0.920810       22 2017-05-01
19     0.932703     0.914913     0.945358       18 2017-04-01
20     0.936016     0.918358     0.951113       23 2017-03-01
21     0.939664     0.925241     0.951203       20 2017-02-01
22     0.942206     0.929800     0.962927       22 2017-01-01
23     0.948636     0.929195     0.964878       21 2016-12-01
24     0.926326     0.901307     0.948047       22 2016-11-01
25     0.907036     0.889996     0.919794       21 2016-10-01
26     0.891907     0.885269     0.897183       22 2016-09-01
27     0.891965     0.881912     0.902690       23 2016-08-01
28     0.903484     0.896298     0.910581       21 2016-07-01
29     0.890646     0.878040     0.909256       22 2016-06-01
..          ...          ...          ...      ...        ...
754    0.958285     0.957764     0.958797       22 1956-01-01
755    0.957653     0.956371     0.958944       22 1955-12-01
756    0.956937     0.956244     0.957834       22 1955-11-01
757    0.957459     0.955577     0.958268       21 1955-10-01
758    0.955169     0.954301     0.955881       22 1955-09-01
759    0.954647     0.954344     0.955230       23 1955-08-01
760    0.955716     0.954398     0.956472       21 1955-07-01
761    0.955690     0.954665     0.956178       22 1955-06-01
762    0.954174     0.953454     0.954727       22 1955-05-01
763    0.952932     0.950662     0.954239       21 1955-04-01
764    0.949733     0.948634     0.950611       23 1955-03-01
765    0.949738     0.948837     0.950146       20 1955-02-01
766    0.950340     0.949432     0.951013       21 1955-01-01
767    0.951197     0.950437     0.951695       23 1954-12-01
768    0.951520     0.950666     0.951954       22 1954-11-01
769    0.951935     0.951157     0.952817       21 1954-10-01
770    0.951812     0.950756     0.952299       22 1954-09-01
771    0.953965     0.952427     0.954913       22 1954-08-01
772    0.954288     0.953669     0.954840       22 1954-07-01
773    0.953999     0.952603     0.954755       22 1954-06-01
774    0.954579     0.953937     0.955176       21 1954-05-01
775    0.955046     0.954641     0.955345       22 1954-04-01
776    0.955169     0.954727     0.955388       23 1954-03-01
777    0.954769     0.954296     0.955263       20 1954-02-01
778    0.955023     0.954203     0.955732       21 1954-01-01
779    0.955114     0.954246     0.955735       23 1953-12-01
780    0.954651     0.954229     0.954971       21 1953-11-01
781    0.955238     0.954682     0.955608       22 1953-10-01
782    0.953999     0.952072     0.955828       22 1953-09-01
783    0.953595     0.952074     0.955221       16 1953-08-01

[784 rows x 5 columns]

In [59]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()
 
if __name__ == '__main__':
    create_connection("new.sqlite")

2.6.0

In [62]:
conn = sqlite3.connect("new.sqlite")
cur = conn.cursor()
Currency_exchange.to_sql(name = "currency5", con = conn)

In [63]:
query = "SELECT * FROM currency5;"

In [64]:
df = pd.read_sql_query(query,conn)

In [65]:
df

     index  av-USD-EUR  min-USD-EUR  max-USD-EUR  nb-days                 date
0        0    0.879773     0.870549     0.888021       22  2018-11-01 00:00:00
1        1    0.870816     0.861623     0.883548       23  2018-10-01 00:00:00
2        2    0.857763     0.849113     0.864902       20  2018-09-01 00:00:00
3        3    0.865963     0.853971     0.883314       23  2018-08-01 00:00:00
4        4    0.855759     0.848248     0.862962       22  2018-07-01 00:00:00
5        5    0.856336     0.844880     0.867002       21  2018-06-01 00:00:00
6        6    0.846676     0.832848     0.865202       22  2018-05-01 00:00:00
7        7    0.814625     0.807233     0.828500       20  2018-04-01 00:00:00
8        8    0.810642     0.805088     0.821625       21  2018-03-01 00:00:00
9        9    0.809896     0.800448     0.818733       20  2018-02-01 00:00:00
10      10    0.819851     0.802761     0.838082       22  2018-01-01 00:00:00
11      11    0.844888     0.833820     0.852079       19  2017-12-01 00:00:00
12      12    0.852009     0.836680     0.864902       22  2017-11-01 00:00:00
13      13    0.850666     0.843455     0.861698       22  2017-10-01 00:00:00
14      14    0.839346     0.829187     0.851716       21  2017-09-01 00:00:00
15      15    0.846969     0.830013     0.853971       23  2017-08-01 00:00:00
16      16    0.868839     0.852588     0.882690       21  2017-07-01 00:00:00
17      17    0.890555     0.876194     0.897102       22  2017-06-01 00:00:00
18      18    0.904505     0.889442     0.920810       22  2017-05-01 00:00:00
19      19    0.932703     0.914913     0.945358       18  2017-04-01 00:00:00
20      20    0.936016     0.918358     0.951113       23  2017-03-01 00:00:00
21      21    0.939664     0.925241     0.951203       20  2017-02-01 00:00:00
22      22    0.942206     0.929800     0.962927       22  2017-01-01 00:00:00
23      23    0.948636     0.929195     0.964878       21  2016-12-01 00:00:00
24      24    0.926326     0.901307     0.948047       22  2016-11-01 00:00:00
25      25    0.907036     0.889996     0.919794       21  2016-10-01 00:00:00
26      26    0.891907     0.885269     0.897183       22  2016-09-01 00:00:00
27      27    0.891965     0.881912     0.902690       23  2016-08-01 00:00:00
28      28    0.903484     0.896298     0.910581       21  2016-07-01 00:00:00
29      29    0.890646     0.878040     0.909256       22  2016-06-01 00:00:00
..     ...         ...          ...          ...      ...                  ...
754    754    0.958285     0.957764     0.958797       22  1956-01-01 00:00:00
755    755    0.957653     0.956371     0.958944       22  1955-12-01 00:00:00
756    756    0.956937     0.956244     0.957834       22  1955-11-01 00:00:00
757    757    0.957459     0.955577     0.958268       21  1955-10-01 00:00:00
758    758    0.955169     0.954301     0.955881       22  1955-09-01 00:00:00
759    759    0.954647     0.954344     0.955230       23  1955-08-01 00:00:00
760    760    0.955716     0.954398     0.956472       21  1955-07-01 00:00:00
761    761    0.955690     0.954665     0.956178       22  1955-06-01 00:00:00
762    762    0.954174     0.953454     0.954727       22  1955-05-01 00:00:00
763    763    0.952932     0.950662     0.954239       21  1955-04-01 00:00:00
764    764    0.949733     0.948634     0.950611       23  1955-03-01 00:00:00
765    765    0.949738     0.948837     0.950146       20  1955-02-01 00:00:00
766    766    0.950340     0.949432     0.951013       21  1955-01-01 00:00:00
767    767    0.951197     0.950437     0.951695       23  1954-12-01 00:00:00
768    768    0.951520     0.950666     0.951954       22  1954-11-01 00:00:00
769    769    0.951935     0.951157     0.952817       21  1954-10-01 00:00:00
770    770    0.951812     0.950756     0.952299       22  1954-09-01 00:00:00
771    771    0.953965     0.952427     0.954913       22  1954-08-01 00:00:00
772    772    0.954288     0.953669     0.954840       22  1954-07-01 00:00:00
773    773    0.953999     0.952603     0.954755       22  1954-06-01 00:00:00
774    774    0.954579     0.953937     0.955176       21  1954-05-01 00:00:00
775    775    0.955046     0.954641     0.955345       22  1954-04-01 00:00:00
776    776    0.955169     0.954727     0.955388       23  1954-03-01 00:00:00
777    777    0.954769     0.954296     0.955263       20  1954-02-01 00:00:00
778    778    0.955023     0.954203     0.955732       21  1954-01-01 00:00:00
779    779    0.955114     0.954246     0.955735       23  1953-12-01 00:00:00
780    780    0.954651     0.954229     0.954971       21  1953-11-01 00:00:00
781    781    0.955238     0.954682     0.955608       22  1953-10-01 00:00:00
782    782    0.953999     0.952072     0.955828       22  1953-09-01 00:00:00
783    783    0.953595     0.952074     0.955221       16  1953-08-01 00:00:00

[784 rows x 6 columns]